<h2>List of the celebrities available</h2>

<div>
{{#each celebrities}}
    <a href="/celebrities/show/{{this._id}}">{{this.name}}</a><br>
{{/each}}
</div>

<div>

<h3><a href="/celebrities/new">Add a new celebrity</a></h3>
<h3><a href="/">Home</a></h3>

</div>
